# Ignore everything
*

# Allow Git to see directories so it can apply further rules
!*/

# Un-ignore the ansible directory and all its contents
!ansible/**

# Un-ignore Terraform files and examples
!**/*.tf
!**/*.tfvars.example

# Un-ignore the repository README file
!README.md

# Ignore sensitive Terraform variable files
terraform.tfvars
secrets.auto.tfvars
