# Ignore everything
*

# But not directories (so Git can look inside them)
!*/
!ansible/
# Un-ignore all *.tf &  files anywhere in the project
!**/*.tf
!**/*.tfvars.example
# Un-ignore the README file in the repository root
!README.md

# Ignore local Terraform variable values (secrets)
terraform.tfvars
secrets.auto.tfvars
