# Copy this file to terraform.tfvars and update with your secure values.
proxmox_endpoint     = "https://pve.example.com/"
proxmox_api_token    = "user@pam!user=xxxxx-xxxx-xxxx-xxxx-xxxxxxxxx"  # Replace with your real API token
node_name            = "pve-node"
vm_id                = 9000
disk_datastore_id    = "vm-datastore"
init_datastore_id    = "vm-datastore"
ipv4_address         = "192.168.x.x/24"
ipv4_gateway         = "192.168.x.x"
init_username        = "username-dev"
init_password        = "password-dev"  # Replace with the actual secure password